<div ng-controller="adminController">
  <h1>Welcome!</h1>
  <div class="row">
  <div class="col s6">
    <h3>Coupon's Recommended</h3>
    <table>
      <thead>
        <th>Discount Name</th>
        <th>Total Discount</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td> iPhone 3</td>
          <td>$120</td>
          <td><a class="waves-effect blue darken-2 btn center-align" ng-click="" href="https://www.facebook.com/?stype=lo&jlou=AfcvVkBq6jsuPAbSSMD3YmaSE-X_UyNlg0WVVcIBfiGOuHg3CC6OYaxEApKwv0JENGDNT4zvxVmOUEHo_WUxSSgF&smuh=56825&lh=Ac9lxnJWKLuXti7l">Post to Facebook</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col s6">
    <h3>Account Balance : $5304.74</h3>
    <img style="height:75%; width:75%;"src="../assets/chart.jpg">
  </div>
</div>
  <div>
    <h3>Sales Info</h3>
    <table>
      <thead>
        <th>Sale #</th>
        <th>TVs</th>
        <th>Macs</th>
        <th>PCs</th>
        <th>Phones</th>
        <th>Total</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>$1200.00</td>
        </tr>
        <tr>
          <td><h2>Total:$1200.00 </h2></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
