<div ng-controller="confirmController">
  <div class="center-align">
  <h1 class="mc-title">Accepted</h1>
    <a class="waves-effect waves-light btn center-align" ng-click="" href="/">Make another Purchase</a>
    <a class="waves-effect  blue darken-2 btn center-align" ng-click="" href="https://www.facebook.com/?stype=lo&jlou=AfcvVkBq6jsuPAbSSMD3YmaSE-X_UyNlg0WVVcIBfiGOuHg3CC6OYaxEApKwv0JENGDNT4zvxVmOUEHo_WUxSSgF&smuh=56825&lh=Ac9lxnJWKLuXti7l">Share to Facebook and Earn Rewards!</a>
</div>
</div>
