<div ng-controller="payController">

  <a class="waves-effect waves-light btn" ng-click="" href="/">Back</a>
  <div class="row">
    <form class="col s6">
      <h5>Credit Card Number</h5></br>
      <input type="text" name="CreditCardNumber" value=""/>
      <h5>CCV</h5></br>
      <input type="text" name="CCV" value=""/>
      <h5>Full name</h5></br>
      <input type="text" name="fullNameOnCard" value=""/>
      <h5>Facebook</h5></br>
      <input type="text" name="fullNameOnCard" value=""/>
      <a class="waves-effect waves-light btn" ng-click="" href="#!/confirm">Checkout</a>
    </form>
  <table class="col s6 highlight">
    <thead>
      <th>Item</th>
      <th>Price</th>
    </thead>
    <tbody>
      <tr>
        <td>TV</td>
        <td>$600</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>$600</td>
      </tr>
    </tbody>
    <h4> Total: $1200</h4>
  </table>

</div>
</div>
