<div ng-controller="adminController">
  <h1>Welcome to Boost Rewards!</h1>
  <div class="col s6">
    <h3>Total Points : 3500</h3>
  </div>
  <div class="row">
  <div class="col s6">
    <h3>Coupon's Earned</h3>
    <table>
      <thead>
        <th>Discount Name</th>
        <th>Total Discount</th>
        <th></th>
      </thead>
      <tbody>
        <tr >
          <td>Marie's Pies</td>
          <td>Buy 1 Get 1 Apple Pies</td>
          <td><a class="waves-effect blue darken-2 btn center-align" ng-click="" href="https://www.facebook.com/?stype=lo&jlou=AfcvVkBq6jsuPAbSSMD3YmaSE-X_UyNlg0WVVcIBfiGOuHg3CC6OYaxEApKwv0JENGDNT4zvxVmOUEHo_WUxSSgF&smuh=56825&lh=Ac9lxnJWKLuXti7l">Share to Facebook and Redeem</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col s6">
    <h3>Share your Favorite Places, Earn Money Rewards</h3>
    <table>
      <thead>
        <th>Discount Name</th>
        <th>Total Discount</th>
        <th></th>
      </thead>
      <tbody>
        <tr >
          <td>Bill's Garage</td>
          <td>10% off Oil Changes</td>
          <td><a class="waves-effect blue darken-2 btn center-align" ng-click="" href="https://www.facebook.com/?stype=lo&jlou=AfcvVkBq6jsuPAbSSMD3YmaSE-X_UyNlg0WVVcIBfiGOuHg3CC6OYaxEApKwv0JENGDNT4zvxVmOUEHo_WUxSSgF&smuh=56825&lh=Ac9lxnJWKLuXti7l">Share to Facebook</a></td>
        </tr>
        <tr >
          <td>Gary's Burgers</td>
          <td>Free Fries</td>
          <td><a class="waves-effect blue darken-2 btn center-align" ng-click="" href="https://www.facebook.com/?stype=lo&jlou=AfcvVkBq6jsuPAbSSMD3YmaSE-X_UyNlg0WVVcIBfiGOuHg3CC6OYaxEApKwv0JENGDNT4zvxVmOUEHo_WUxSSgF&smuh=56825&lh=Ac9lxnJWKLuXti7l">Share to Facebook</a></td>
        </tr>
        <tr >
          <td>Marie's Pies</td>
          <td>Buy 1 Get 1 Apple Pies</td>
          <td><a class="waves-effect blue darken-2 btn center-align" ng-click="" href="https://www.facebook.com/?stype=lo&jlou=AfcvVkBq6jsuPAbSSMD3YmaSE-X_UyNlg0WVVcIBfiGOuHg3CC6OYaxEApKwv0JENGDNT4zvxVmOUEHo_WUxSSgF&smuh=56825&lh=Ac9lxnJWKLuXti7l">Share to Facebook</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
